<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <!-- The place where any traces are going. Allows for easier debugging -->
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="I:\OffProject\ConsoleGameProject\" />
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBroadcastorService" />
            </netTcpBinding>
        </bindings>
        <client>
          <!-- This endpoint is just the address to my local machine that im developing on. THIS IS NOT A REAL SERVICE TO THE PUBLIC-->
            <endpoint address="net.tcp://10.108.6.171:8733/Design_Time_Addresses/WCFExperimentation1/Service1/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBroadcastorService"
                contract="BroadcastorService.IBroadcastorService" name="NetTcpBinding_IBroadcastorService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>